* {
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

header{
    padding: 46px 130px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header_nav>ul {
    display: flex;
    gap: 40px;
    list-style: none;
}


.list_item>a {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.59px;
    text-align: left;
    color: #8F8A99;
    transition: all 0.5s;
}

.list_item > a:hover {
    color: black;
    transition: all 0.5s;
}


.hero {
    display: flex;
    justify-content: space-between;
}


.text {
    margin: 176px 130px 130px 0px;
}


.button1 {
    margin-top: 35px;
    background-color: grey;
    color: white;
    border-radius: 55px;
    width: 197.75px;
    height: 49.12px;
    border: 0px;  
    font-family: Mulish;
    font-size: 17px;
    font-weight: 400;
    line-height: 21.34px;
    transition: all 0.2s;
    border: none;
    outline: none;
    transition: all 0.5s;
}

.button1:hover {
    background-color: rgb(69, 143, 246, 1);
    transition: all 0.5s;
    border: none;
}


.Trafal {
    margin-top: 26px;
    font-size: 19px;
    color: rgba(125, 121, 135, 1);
    font-family: Mulish;
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
    width: 300px;
}


.Virtual {
    font-size: 45px;
    width: 400px;
}


.doc_img {
    margin-top: 91px;
    
}




main {
    margin-top: 91px;
    padding: 0px 130px;
}

.first_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first_section>h2 {
    font-family: Mulish;
    font-size: 35px;
    font-weight: 700;
    line-height: 56px;
}


.first_section>p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
    width: 66.1%;
}


.card {
    width: 320px;
    height: 350px;
    background-color: #E7E7E7;
    border-radius: 20px;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    padding: 68px 38px 29px 38px;
    transition: all 0.5s;
}


.card:hover {
    background-color: #5A98F2;
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(1.05);
}

.card_image {
    width: 96px;
    height: 93px;
}


.wrapper_card {
    width: 100%;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}


.card_title {
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    margin-top: 30px;
}

.card_description {
    font-family: Mulish;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    width: 280px;
}


.button {
    color:#458FF6;
    border: 1.4px solid #458FF6;
    width: 200px;
    height: 56.74px;
    background-color: white;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32.23px 520px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    transition: all 0.5s;
}

.button:hover {
    color: white;
    border: 1.4px solid #458FF6;
    transition: all 0.5s;
    background-color: #458FF6;
}

.Info {
    font-family: Mulish;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin-top: 76.26px;
}

.wrapper_reklama {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.title {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 395.18px;
    row-gap: 50px;
}


.title > h1 {
    font-family: Mulish;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
}

.title > p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: #7D7987;
}


.title > .button2 {
    color:#458FF6;
    border: 1.4px solid #458FF6;
    width: 200px;
    height: 56.74px;
    background-color: white;
    border-radius: 55px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    transition: all 0.5s;
}

.title > .button2:hover {
        color: white;
        border: 1.4px solid #458FF6;
        background-color: #458FF6;
        transition: all 0.5s;
}

.second_section > h1 {
    font-family: Mulish;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin-top: 152.85px;
}



.wrapper_card_second {
     width: 100%;
    margin-top: 109.43px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}



.section2 {
    font-family: Mulish;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

.card_text {
    font-family: Mulish;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 20px;
    width: 251px;
    padding-left: 30px;
}


.card_description2 {
    font-family: Mulish;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: #7D7987;
    margin-top: 15px;
    width: 266px;
    padding-left: 30px;
}

.Read > a {
    font-family: Mulish;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    color: #4089ED;
}

.Read > img {
    margin-left: 10px;
}

.Read >img::before {
    content: url(./assec/icons/strelka.png);
}


.Read {
    margin-top: 18px;
    padding-left: 30px;
}

.button3 {
    color:#458FF6;
    border: 1.4px solid #458FF6;
    width: 200px;
    height: 56.74px;
    background-color: white;
    border-radius: 55px;
    font-family: Mulish;
    font-size: 17px;
    font-weight: 700;
    line-height: 21.34px;
    margin: 45px 525px 0px;
    transition: all 0.5s;
}

.button3:hover {
        color: white;
        border: 1.4px solid #458FF6;
        transition: all 0.5s;
        background-color: #458FF6;

}


footer {
    height: 432px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    margin-top: 230px;
    display: flex;
    flex-direction: column;
}


.footer_wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 159px;
}


.logo_description > p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    width: 386px;
    color: white;
    margin-top: 15px;
}


.Company > h3 {
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.1px;
    text-align: left;  
    color: white;
}

.Company > p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.59px;
    text-align: left;
    color: white;
    margin-top: 15px;    
}


.Region > h3 {
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.1px;
    text-align: left;
    color: white;    
}

.Region > p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.59px;
    text-align: left;
    color: white;
    margin-top: 15px;    
}

.Help > h3 {
    font-family: Mulish;
    font-size: 19px;
    font-weight: 700;
    line-height: 23.85px;
    text-align: left;
    color: white;    
}

.Help > p {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.59px;
    text-align: left;
    color: white;
    margin-top: 15px;    
}
